fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
opencv-python
ultralytics
argon2-cffi
openpyxl
apscheduler
reportlab