fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
opencv-python-headless
ultralytics
argon2-cffi
openpyxl
apscheduler
reportlab
firebase-admin